## Wind Energy Data Clean-up

# Extract

Import dependencies, data files and setup.

Source Of Data:
* Data alias: Storm-Data
http://www.bom.gov.au/australia/stormarchive/ (date range 1/1/2010 to 1/1/2021)
Includes all storm data on all states and teritories.
Formatted as a CSV file.

* Data alias: Outages-Data
http://nemweb.com.au/Reports/Current/HighImpactOutages/ (date range 30/8/2021 to 6/6/2022)
Includes all High Impact Outage data on existing wind farms in all states and teritories.
Formatted as a CSV file.

In [37]:
# Dependencies and Setup
import pandas as pd
import glob
import os

pd.options.mode.chained_assignment = None
default='warn'

Storm Data set up:

In [30]:
# File to Load
storm_data_to_load = "Resources/bom.australia.storm.archive.csv"

# Read Storm Data File and store into Pandas DataFrames
storm_data_df = pd.read_csv(storm_data_to_load, encoding='iso8859_2')

In [31]:
storm_data_df.head(3)

,Event ID,Database,ID,Date/Time,Nearest town,State,Latitude,Longitude,Comments,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,23725,Wind,5620,3/01/2010 1:30,ARMIDALE,NSW,-30.5151,151.6650,Weatherzone photos near Armidale showed trees ...,NaN,NaN,NaN,NaN,NaN,NaN
1,23726,Rain,3377,4/01/2010 6:25,INVERELL,NSW,-29.7817,151.1178,Spotter reported 58mm of rain about 11km north...,NaN,NaN,NaN,NaN,NaN,NaN
2,23727,Wind,5621,5/01/2010 0:43,WAGGA WAGGA AERODROME,NSW,-35.1318,147.4179,51 knot gust recorded at Wagga Wagga airport ...,NaN,NaN,NaN,NaN,NaN,NaN

Outages Data set up:

In [24]:
# Files to Load
data_to_load_1 = "Resources\High_Impact_Outages_20210830.csv"
data_to_load_2 = "Resources\High_Impact_Outages_20210906.csv"
data_to_load_3 = "Resources\High_Impact_Outages_20210913.csv"
data_to_load_4 = "Resources\High_Impact_Outages_20210920.csv"
data_to_load_5 = "Resources\High_Impact_Outages_20210927.csv"
data_to_load_6 = "Resources\High_Impact_Outages_20211005.csv"
data_to_load_7 = "Resources\High_Impact_Outages_20211011.csv"
data_to_load_8 = "Resources\High_Impact_Outages_20211018.csv"
data_to_load_9 = "Resources\High_Impact_Outages_20211025.csv"
data_to_load_10 = "Resources\High_Impact_Outages_20211101.csv"
data_to_load_11 = "Resources\High_Impact_Outages_20211108.csv"
data_to_load_12 = "Resources\High_Impact_Outages_20211115.csv"
data_to_load_13 = "Resources\High_Impact_Outages_20211122.csv"
data_to_load_14 = "Resources\High_Impact_Outages_20211129.csv"
data_to_load_15 = "Resources\High_Impact_Outages_20211206.csv"
data_to_load_16 = "Resources\High_Impact_Outages_20211213.csv"
data_to_load_17 = "Resources\High_Impact_Outages_20211220.csv"
data_to_load_18 = "Resources\High_Impact_Outages_20220104.csv"
data_to_load_19 = "Resources\High_Impact_Outages_20220110.csv"
data_to_load_20 = "Resources\High_Impact_Outages_20220117.csv"
data_to_load_21 = "Resources\High_Impact_Outages_20220124.csv"
data_to_load_22 = "Resources\High_Impact_Outages_20220131.csv"
data_to_load_23 = "Resources\High_Impact_Outages_20220207.csv"
data_to_load_24 = "Resources\High_Impact_Outages_20220214.csv"
data_to_load_25 = "Resources\High_Impact_Outages_20220221.csv"
# data_to_load_26 = "Resources\High_Impact_Outages_20220228.csv"
data_to_load_27 = "Resources\High_Impact_Outages_20220307.csv"
data_to_load_28 = "Resources\High_Impact_Outages_20220314.csv"
data_to_load_29 = "Resources\High_Impact_Outages_20220321.csv"
data_to_load_30 = "Resources\High_Impact_Outages_20220328.csv"
data_to_load_31 = "Resources\High_Impact_Outages_20220404.csv"
data_to_load_32 = "Resources\High_Impact_Outages_20220411.csv"
data_to_load_33 = "Resources\High_Impact_Outages_20220419.csv"
data_to_load_34 = "Resources\High_Impact_Outages_20220426.csv"
data_to_load_35 = "Resources\High_Impact_Outages_20220502.csv"
data_to_load_36 = "Resources\High_Impact_Outages_20220509.csv"
data_to_load_37 = "Resources\High_Impact_Outages_20220516.csv"
data_to_load_38 = "Resources\High_Impact_Outages_20220523.csv"
data_to_load_39 = "Resources\High_Impact_Outages_20220530.csv"
data_to_load_40 = "Resources\High_Impact_Outages_20220606.csv"

# Read Outages Data Files and store into Pandas DataFrames
outages1 = pd.read_csv(data_to_load_1, encoding='iso8859_2')
outages2 = pd.read_csv(data_to_load_2, encoding='iso8859_2')
outages3 = pd.read_csv(data_to_load_3, encoding='iso8859_2')
outages4 = pd.read_csv(data_to_load_4, encoding='iso8859_2')
outages5 = pd.read_csv(data_to_load_5, encoding='iso8859_2')
outages6 = pd.read_csv(data_to_load_6, encoding='iso8859_2')
outages7 = pd.read_csv(data_to_load_7, encoding='iso8859_2')
outages8 = pd.read_csv(data_to_load_8, encoding='iso8859_2')
outages9 = pd.read_csv(data_to_load_9, encoding='iso8859_2')
outages10 = pd.read_csv(data_to_load_10, encoding='iso8859_2')
outages11 = pd.read_csv(data_to_load_11, encoding='iso8859_2')
outages12 = pd.read_csv(data_to_load_12, encoding='iso8859_2')
outages13 = pd.read_csv(data_to_load_13, encoding='iso8859_2')
outages14 = pd.read_csv(data_to_load_14, encoding='iso8859_2')
outages15 = pd.read_csv(data_to_load_15, encoding='iso8859_2')
outages16 = pd.read_csv(data_to_load_16, encoding='iso8859_2')
outages17 = pd.read_csv(data_to_load_17, encoding='iso8859_2')
outages18 = pd.read_csv(data_to_load_18, encoding='iso8859_2')
outages19 = pd.read_csv(data_to_load_19, encoding='iso8859_2')
outages20 = pd.read_csv(data_to_load_20, encoding='iso8859_2')
outages21 = pd.read_csv(data_to_load_21, encoding='iso8859_2')
outages22 = pd.read_csv(data_to_load_22, encoding='iso8859_2')
outages23 = pd.read_csv(data_to_load_23, encoding='iso8859_2')
outages24 = pd.read_csv(data_to_load_24, encoding='iso8859_2')
outages25 = pd.read_csv(data_to_load_25, encoding='iso8859_2')
# outages26 = pd.read_csv(data_to_load_26, encoding='iso8859_2', error_bad_lines=False)
outages27 = pd.read_csv(data_to_load_27, encoding='iso8859_2')
outages28 = pd.read_csv(data_to_load_28, encoding='iso8859_2')
outages29 = pd.read_csv(data_to_load_29, encoding='iso8859_2')
outages30 = pd.read_csv(data_to_load_30, encoding='iso8859_2')
outages31 = pd.read_csv(data_to_load_31, encoding='iso8859_2')
outages32 = pd.read_csv(data_to_load_32, encoding='iso8859_2')
outages33 = pd.read_csv(data_to_load_33, encoding='iso8859_2')
outages34 = pd.read_csv(data_to_load_34, encoding='iso8859_2')
outages35 = pd.read_csv(data_to_load_35, encoding='iso8859_2')
outages36 = pd.read_csv(data_to_load_36, encoding='iso8859_2')
outages37 = pd.read_csv(data_to_load_37, encoding='iso8859_2')
outages38 = pd.read_csv(data_to_load_38, encoding='iso8859_2')
outages39 = pd.read_csv(data_to_load_39, encoding='iso8859_2')
outages40 = pd.read_csv(data_to_load_40, encoding='iso8859_2')

In [28]:
# merging the files
joined_files = (outages1, outages2, outages3, outages4, outages5, outages6, outages7, outages8, outages9, outages10, outages11,outages12, outages13, outages14, outages15, outages16, outages17, outages18, outages19, outages20, outages21, outages22, outages23, outages24, outages25, outages27, outages28, outages29, outages30, outages31, outages32, outages33, outages34, outages35, outages36, outages37, outages38, outages39, outages40)

merged_outages_df = pd.concat(joined_files)
merged_outages_df.head(3)

,Region,NSP,Start,Finish,Network Asset,Impact,Recall,Status,Status and\nMarket Notice,Project Work?,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,ďťżRegion,"Impact Region,\nReason and\nDuration",Vs Old,Unnamed: 23
0,NSW,Transgrid,30/08/2021 06:05\nMonday,01/09/2021 12:00\nWednesday,Armidale - Dumaresq (8C) 330 kV Line,<<UPDATED since the last notification>>\r\nA c...,Day: 3 hrs-Night: 4 hrs,In Progress - PTP,In Progress - PTP\r\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QLD,Powerlink,01/09/2021 08:30\nWednesday,01/09/2021 12:00\nWednesday,Ross No.4 288/138/19 kV Transformer,This is a high impact outage because the recal...,Day: 1 hr-Night: NA,Planned - MTLTP,Planned - MTLTP\r\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NSW,Transgrid,04/09/2021 06:00\nSaturday,05/09/2021 17:00\nSunday,Liddell to Muswellbrook (83) 330 kV Line,A credible contingency event during this plann...,Day: 4 hrs-Night: 4 hrs,Planned - MTLTP,Planned - MTLTP\r\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transform

Storm-Data transformation:
* remove duplicates
* remove blank columns
* remove all states and teritories except Vicoria
* change column headers to standardise columns referring the the state Victoria

Outages-Data transformation:
* remove duplicates
* remove blank columns
* joining all individual csv's into one dataframe
* remove all states and teritories except Vicoria
* change column headers to standardise columns referring the the state Victoria

In [42]:
# Remove excess columns and rename state column for ease of merging
high_impact_outages = merged_outages_df[['Region', 'NSP', 'Start', 'Finish', 'Network Asset', 'Impact', 'Recall', 'Status']]
high_impact_outages.rename(columns={'Region': 'State'}, inplace=True)
high_impact_outages.head(1)

,State,NSP,Start,Finish,Network Asset,Impact,Recall,Status
0,NSW,Transgrid,30/08/2021 06:05\nMonday,01/09/2021 12:00\nWednesday,Armidale - Dumaresq (8C) 330 kV Line,<<UPDATED since the last notification>>\r\nA c...,Day: 3 hrs-Night: 4 hrs,In Progress - PTP

In [43]:
# Remove excess columns
bom_storm_data = storm_data_df[['Event ID', 'Database', 'ID', 'Date/Time', 'Nearest town', 'State', 'Latitude', 'Longitude', 'Comments']]
bom_storm_data.head(1)

,Event ID,Database,ID,Date/Time,Nearest town,State,Latitude,Longitude,Comments
0,23725,Wind,5620,3/01/2010 1:30,ARMIDALE,NSW,-30.5151,151.665,Weatherzone photos near Armidale showed trees ...

In [46]:
high_impact_outages = high_impact_outages.loc[high_impact_outages["State"] == "VIC"]
high_impact_outages.head(3)

,State,NSP,Start,Finish,Network Asset,Impact,Recall,Status
11,VIC,AusNet,17/09/2021 06:30\nFriday,17/09/2021 19:00\nFriday,Jindera - Wodonga (060) 330 kV Line,This is a high-impact outage only if the forec...,Day: 2 hrs-Night: NA,Planned - SUBMIT
13,VIC,AusNet,18/09/2021 06:30\nSaturday,18/09/2021 19:00\nSaturday,Jindera - Wodonga (060) 330 kV Line,This is a high-impact outage only if the forec...,Day: 2 hrs-Night: NA,Planned - SUBMIT
15,VIC,AusNet,19/09/2021 06:30\nSunday,19/09/2021 19:00\nSunday,Jindera - Wodonga (060) 330 kV Line,This is a high-impact outage only if the forec...,Day: 2 hrs-Night: NA,Planned - SUBMIT

In [47]:
bom_storm_data = bom_storm_data.loc[bom_storm_data["State"] == "VIC"]
bom_storm_data.head(3)

,Event ID,Database,ID,Date/Time,Nearest town,State,Latitude,Longitude,Comments
1545,31801,Wind,5721,17/06/2010 0:00,BALLARAT,VIC,-37.5632,143.8554,Damaging winds smashed in studio doors and bro...
1546,31801,Wind,5722,17/06/2010 0:00,MOUNT PLEASANT,VIC,-37.5856,143.8596,17 jobs at Mt Pleasant all in a line - possibl...
1547,31801,Wind,5723,17/06/2010 0:05,MELTON SOUTH,VIC,-37.7043,144.5702,30 foot branch brought down in high winds with...

In [ ]:
## CODE TO REMOVE DOUBLE DUPLICATES IN THE BOM EVENTS AND EVENTS ID

# newdf = df1.drop_duplicates(
#   subset = ['order_id', 'customer_id'],
#   keep = 'last')